In [41]:
# Importaciones
import pandas as pd

df = pd.read_csv('/Users/yairmartinez/Documents/GitHub/Bedu/1/DB.csv')
df = df.set_index("ID")
df.head(3)

    Monto Factura   Zona
ID
1         27391.4  Norte
2         15925.6  Norte
3         33742.5  Norte

In [42]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 50 entries, 1 to 50
Data columns (total 2 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Monto Factura  50 non-null     float64
 1   Zona           50 non-null     object
dtypes: float64(1), object(1)
memory usage: 1.2+ KB

In [63]:
df.describe(percentiles=[.5])

       Monto Factura
count      50.000000
mean    26941.680000
std     10294.886642
min      2456.600000
50%     27231.650000
max     48618.300000

In [60]:
# Total
zonas = df.groupby(['Zona']).count()
zonas.index

Index(['Norte', 'Sur'], dtype='object', name='Zona')

In [61]:
zona_Norte = zonas["Monto Factura"]["Norte"]
zona_Sur = zonas["Monto Factura"]["Sur"]
zona_TOTAL = zona_Norte + zona_Sur

In [62]:
zona_TOTAL

50