In [2]:
import pandas as pd

In [4]:
df = pd.read_csv('/Users/yairmartinez/Documents/GitHub/Bedu/1/DB.csv')

In [5]:
df.head(3)

   ID  Monto Factura   Zona
0   1        27391.4  Norte
1   2        15925.6  Norte
2   3        33742.5  Norte

In [12]:
# Total
df.groupby(['Zona']).count()

       ID  Monto Factura
Zona
Norte  31             31
Sur    19             19